<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "народные новости", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Новости",    root_path %></li>
          <li><%= link_to "О проекте",    help_path %></li>
          <li><%= link_to "Вход", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
